<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priority Users</title>
    <link rel="stylesheet" href="static/css/priority_users.css">
</head>
<body>
    <h1>Priority Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Visit Count</th>
        </tr>
        {% for user in priority_users %}
        <tr>
            <td>{{ user['name'] }}</td>
            <td>{{ user['visit_count'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
